<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.snail.luckydog.dao.base.UserMapper">

  <resultMap id="BaseResultMap" type="com.fast.snail.luckydog.dao.base.object.UserDO">
    <id column="user_code" jdbcType="INTEGER" property="userCode" />
    <result column="ent_code" jdbcType="VARCHAR" property="entCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
<!--    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />-->
<!--    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
  </resultMap>
  
  <sql id="Base_Column_List">
    user_code, ent_code, user_name, phone_number, user_status, create_time, update_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_${entCode}
    where user_code = #{userCode}
  </select>

  <select id="selectDynamicColumnByPK" resultType="hashmap">
    select
      user_code userCode,
      <foreach item="dynamicColumn" collection="dynamicColumnList" separator="," >
        ${dynamicColumn.columnName}
      </foreach>
    from t_user_${entCode}
    where ent_code = #{entCode}
      and user_code in
      <foreach item="primaryKey" collection="primaryKeyList" separator="," open="(" close=")">
        #{primaryKey}
      </foreach>

      <if test="dynamicColumnList != null">
        <foreach item="item" collection="dynamicColumnList" separator=" " >
          and ${item.columnName} = #{item.columnValue}
        </foreach>
      </if>
  </select>

  <update id="updateUserByPrimaryKey">
    update t_user_${entCode} set
      user_name = #{userDO.userName},
      phone_number = #{userDO.phoneNumber},
      user_status = #{userDO.userStatus},
      update_time = now()
    where user_code = #{userDO.userCode}
  </update>

  <insert id="insert">
    insert into t_user_${entCode}(user_code, user_name, create_time, update_time)
    values (#{userDO.userCode}, #{userDO.userName}, now(), now())
  </insert>

</mapper>